{% extends "layout.html" %}

{% block body %}
<h3>Hakkımızda</h3>
<hr>

<p>
F4B yani Fun4Barbaros 8 Nisan 2020'de açılmış discord sunucusunun adıdır. Bu blog F4B üyelerinin blog yazılarını paylaşması için hazırlanmıştır. 1995 yılında İnşaat sektöründe orta ve büyük ölçekli projelerin geliştirilmesi, ülkemize yeni inşaat teknolojilerinin getirilmesi ve teknolojideki son yenilikleri takip ederek inşaat sektörümüzün çağdaş düzeye ulaşmasına katkı sunmak amacıyla Ankara’da kurulmuş olan İzka İnşaat, kuruluşundan beri süregelen profesyonellik, yaratıcılık, dürüstlük ve pazarı geliştirme özellikleriyle istikrarlı bir büyüme göstererek inşaat dünyasında saygın bir yer edinmiştir.
</p>

{% endblock body %}
